@model SportsStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "Product List";
}

<h2>Products</h2>

@*comment*@
<!--comment-->

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<label id="abc">abc</label>
<label id="def">def</label>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
