@model SportsStore.WebUI.Models.LogOnViewModel

@{
    ViewBag.Title = "Admin: LogOn";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Log In</h1>

<p>Please log in to access the administrative areas</p>
@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <p><input type="submit" value="Log in" /></p>
}

